$font-title: 'Open Sans Condensed', serif;
$font-heading: 'Roboto Slab', sans-serif;
$font-subheading: 'Roboto' sans-serif;
$font-body: 'Roboto', sans-serif;
$color-dark: #1f1f1f;
$color-medium: #242424;
$color-light: #ffffff;

%gradient {
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
    color: $color-dark;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Roboto+Slab:300|Roboto:300,400,500');

html {
    height: 100%;
}

body {
    background-color: $color-dark !important;
    color: $color-light !important;
    font-family: $font-body;
    height: 100%;
}

main {
    height: 100%;
}

.highlighter {
    @extend %gradient;
    -webkit-text-fill-color: transparent;
    -webkit-column-rule-color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 50px;
}

h1 { 
    font-family: $font-title !important;
    text-transform: uppercase;
    font-size: 5.5em !important;
}

h2 { 
    font-family: $font-heading !important;
    font-size: 2em !important;
}

h3 { 
    text-align: center;
    font-family: $font-title !important;
    text-transform: uppercase;
    font-size: 3.3em !important;
}

h4 { 
    font-family: $font-heading !important;
    font-size: 2em !important;
}

h5, h6 {
    font-family: $font-subheading !important;
    font-weight: 300 !important;
}

.content-block {
    padding: 25px 0 50px 0;
}

main {
    a {
        text-decoration: none;
        color: $color-light;
    }

    a:hover {
        text-decoration: underline;
        color: $color-light;
    }
}

strong {
    font-family: $font-subheading !important;
    font-weight: 500 !important;
}

.navbar-vishal {
    @extend %gradient;

    .navbar-brand {
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 3.0em;
    }

    .navbar-nav {
        .nav-link {
            font-family: $font-heading;
            color: $color-dark;
            font-size: 1.3em;
            transition: all 0.3s ease;
        }
        
        .nav-link:hover {
            color: $color-light;
        }
    }
}

.padded-top {
    padding-top: 25px;
}

.info-button {
    font-size: 0.6em;
    cursor: pointer;
    margin-left: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#greeting {
    background-image: url("../images/vishal.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    .greeting-content {
        position: absolute;
        bottom: 10%;
        background-color: $color-dark;
        color: $color-light;
        mix-blend-mode: hard-light;
        padding: 25px 25px 25px 25px;
        animation: 1s ease-out 0s 1 fadeIn;
    }
}

#experience, #contact {
    background-color:$color-dark;
    background-image:
    radial-gradient($color-medium 9px, transparent 10px),
    repeating-radial-gradient($color-medium 0, $color-medium 4px, transparent 5px, transparent 20px, $color-medium 21px, $color-medium 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
    background-attachment: fixed;
}

#greeting, #about, #experience, #education, #contact {
    padding: 50px 0 50px 0;
    min-height: 100%;
}